<h4>Servers Component</h4>
<label>New Server Name:</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)]="newServerName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add a server</button>
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server was created server name is {{newServerName}}</p>
<!--<p *ngIf="serverCreated; else noServerTemp">Server was created server name is {{newServerName}}</p>
<ng-template #noServerTemp>
	<p>No Server was Created</p>
</ng-template>-->
<app-server *ngFor="let server of servers; let i = index" [ngClass]="{'pair': i % 2 == 0}"></app-server>